
  <!-- Navbar design -->
  <div class="container py-3 px-5 bg-white rounded">
    <ul class="flex w-full flex-wrap items-center h-20">
      <li class="block relative">

   
        <a href="http://127.0.0.1:8000/" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 text-gray-600 hover:bg-gray-100 hover:text-blue-500">
          <img src="https://cdn-icons-png.flaticon.com/512/5855/5855009.png" class="mr-3 h-8" alt="DIU Events" />  
          <span class="text-4xl fw-bold"> <i class="mdi mdi-code-tags"></i> </span>
            <span class="ml-1 text-3xl fw-bold">DIU Events</span>
        </a>
    </li>


    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <li class="block relative">
          <a href="http://127.0.0.1:8000/" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 text-gray-500 hover:bg-gray-100 hover:text-blue-500">
              <span class="mr-3 text-xl"> <i class="mdi mdi-widgets-outline"></i> </span>
              <span class="fw-bold">Home</span>
          </a>
      </li>

      <li class="block relative">
        <a href="http://127.0.0.1:8000/event/" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 text-gray-500 hover:bg-gray-100 hover:text-blue-500">
            <span class="mr-3 text-xl"> <i class="mdi mdi-account"></i> </span>
            <span class="fw-bold">Events</span>
        </a>
    </li>

    <li class="block relative">
      <a href="http://127.0.0.1:8000/others/" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 text-gray-500 hover:bg-gray-100 hover:text-blue-500">
          <span class="mr-3 text-xl"> <i class="mdi mdi-phone"></i> </span>
          <span class="fw-bold">Others</span>
      </a>
  </li>

    <li class="block relative">
      <a href="http://127.0.0.1:8000/contact/" class="flex items-center h-10 leading-10 px-4 rounded cursor-pointer no-underline hover:no-underline transition-colors duration-100 mx-1 text-gray-500 hover:bg-gray-100 hover:text-blue-500">
          <span class="mr-3 text-xl"> <i class="mdi mdi-phone"></i> </span>
          <span class="fw-bold">Contact</span>
      </a>
  </li>
    </nav>
  </ul>
  </div>
  
  <!-- Navbar design end -->




