{% extends "layout.html" %}

{% block body %}

<section class="home-about-area pt-120">
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Message</th>
              </tr>
            </thead>
            <tbody>
                {% for i in contact %}
              <tr>
                <th scope="row">1</th>
                <td>{{i.ID}}</td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.message}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

    </div>

</section>


<footer class="p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-900">
  <div class="sm:flex sm:items-center sm:justify-between">
      <a href="https://google.com/" class="flex items-center mb-4 sm:mb-0">
          <img src="https://cdn-icons-png.flaticon.com/512/5855/5855009.png" class="mr-3 h-8" alt="DIU Events" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white fw-bold">DIU Events</span>
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
          <li>
              <a href="http://127.0.0.1:8000/" class="mr-4 hover:underline md:mr-6 ">Home</a>
          </li>
          <li>
              <a href="http://127.0.0.1:8000/event" class="mr-4 hover:underline md:mr-6">Events</a>
          </li>
          <li>
              <a href="http://127.0.0.1:8000/others" class="mr-4 hover:underline md:mr-6 ">Others</a>
          </li>
          <li>
              <a href="http://127.0.0.1:8000/contact" class="hover:underline">Contact</a>
          </li>
      </ul>
  </div>

  <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://google.com/" class="hover:underline">DIU Events</a>. All Rights Reserved.
  </span>
</footer>


{% endblock %}